services:
  api-development:
    build:
      context: ./api/
    environment:
      API_MODE: "dev"
      DB: "relational"
    volumes:
      - ./api:/app/api
    ports:
      - "8000:8000"
    command: flask --app 'api.server:create_app()' run --debug --host=0.0.0.0 --port=8000

  api-production:
    extends:
      service: api-development
    environment:
      API_MODE: "prod"
    ports:
      - "8000:8000"
    command: gunicorn 'api.server:create_app()'
