services:
  nginx:
    build:
      context: ./nginx/
    ports:
      - "443:443"
      - "80:80"
  api:
    build:
      context: ./api/
    env_file:
      - .env-api-prod
    volumes:
      - ./api:/app/api
      - sqlite-db:/app/data/
    ports:
      - "8002:5000"
    # command: flask --app 'api.server:create_app()' run --host=0.0.0.0 --port=5000
    command: gunicorn 'api.server:create_app()'

  client:
    build:
      context: ./client/
    ports:
      - "3000:3000"
    command: npm run dev

volumes:
  sqlite-db: