services:
  api:
    build:
      context: ./api/
    # env-file:
    #   - api/.env
    environment:
      API_MODE: "prod"
      DB: "relational"
      SQLITE_DB_PATH: "/app/data/moh.sqlite"
    volumes:
      - ./api:/app/api
      # - ./client:/app/client
      - sqlite-db:/app/data/
    ports:
      - "8002:5000"
    command: flask --app 'api.server:create_app()' run --debug --host=0.0.0.0 --port=5000

  client:
    build:
      context: ./client/
    ports:
      - "3000:3000"
    command: npm run dev

volumes:
  sqlite-db: