<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>makeofficehours | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    {% block head %} {% endblock %}
</head>
<body>

<header id="site-header">
    <h1>Make Office Hours</h1>
</header>

<header id="queue-banner" class="banner disabled"></header>

<section>
    {% block body %}

    {% endblock %}
</section>

<script>



</script>

</body>
</html>