{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body %}

<form action="/force-enroll" method="post" enctype="application/x-www-form-urlencoded">
    <label for="ubit">UBITName</label>
    <input name="ubit" type="text" id="ubit">
    <br/>
    <label for="pn">Person Number</label>
    <input name="pn" type="text" id="pn">
    <br/>
    <label for="role">Role</label>
    <select name="role" id="role">
        <option value="student">Student</option>
        <option value="ta">TA</option>
        <option value="instructor">Instructor</option>
        <option value="admin">Admin</option>
    </select>
    <button type="submit">Enroll</button>
</form>

{% endblock %}