<dialog id="visit" class="modal">

    <div id="student-info">
        <h2 id="visit-student-name">Fih (he/him)</h2>
        <h3 id="visit-student-email">fih@buffalo.edu</h3>
        <button class="no-grow" disabled>View Autolab Submission</button>
        <br/>
        <label for="student-visit-reason">Visit Reason</label>
        <textarea class="visit-reason-textbox" id="student-visit-reason" disabled>None provided.</textarea>
    </div>

    <div id="visit-controls">
        <label for="ta-visit-notes">Visit Notes</label>
        <textarea id="ta-visit-notes" placeholder="How did the visit go?" required></textarea>
        <button id="end-visit">End Visit</button>
        <button id="end-visit-return-front">End and Return to Front</button>
        <button id="end-visit-return-back">End and Return to Back</button>
    </div>



</dialog>