#instructor-queue {
    display: flex;
    flex-direction: column;
    margin: 32px 8%;
}

#queue-buttons {
    display: flex;
    gap: 4px;
}

@media screen and (max-width: 991px) {
    #instructor-queue {
        margin: 32px 2%;
    }

    #queue-buttons {
        flex-direction: column;
        gap: 16px;
    }

    #buttons-l {
        justify-content: center;
    }

    #buttons-r {
        justify-content: center;
        flex-direction: column;
        margin: 0 10%;
    }


    h1, h2, h3 {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    #buttons-r {
        margin-left: auto;
    }
}

.queue-section {
    margin-bottom: 4px;
}

.queue-container {
    margin: 16px 16px;
    border: 2px solid #D9D9D9;
    border-bottom: 0;
}

#buttons-l, #buttons-r {
    display: flex;
    gap: 8px;
}

.input-modal-container {
    display: flex;
    gap: 4px;
    margin-left: auto;
}

br {
    margin-bottom: 16px;
}