#instructor-queue {
    display: flex;
    flex-direction: column;
    margin: 32px 128px;
}

#queue-buttons {
    display: flex;
    gap: 4px;
}

@media screen and (min-width: 992px) {
    #buttons-r {
        margin-left: auto;
    }
}

.queue-section {
    margin-bottom: 4px;
}

#queue-container {
    margin: 32px 16px;
    border: 2px solid #D9D9D9;
    border-bottom: 0;
}

#buttons-l, #buttons-r {
    display: flex;
    gap: 4px;
}

.input-modal-container {
    display: flex;
    gap: 4px;
    margin-left: auto;
}