#queue {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.queue-section {
    justify-content: center;
    display: flex;
    flex-grow: 0;
}

.queue-section > * {
    margin: 8px;
}

#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user > * {
    margin-bottom: 8px;
}

.wide-button {
    width: 20rem;
}

#student-visit-reason {
    resize: none;
    height: 8rem;
    width: 20rem;
    max-width: 70vw;
    padding: 16px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    margin: 16px;
}

br {
    margin-top: 16px;
}

#student-name {
    text-align: center;
}